---
layout: base.njk
---

<article class="main-article max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12 space-y-6">
  <h1 class="text-3xl sm:text-4xl font-bold text-gray-900 dark:text-white text-center">
    {{ title }}
  </h1>

<img
  src="{{ image }}"
  alt="{{ imageAlt }}"
  class="w-full h-auto rounded-xl shadow-lg mb-6 object-contain max-h-[200px] object-center"
/>


  <p class="text-gray-500 italic text-center">
    {{ description }}
  </p>
<div class="project-content prose prose-lg dark:prose-invert max-w-none mt-6 font-normal">
  {{ content | safe }}
</div>


 
</article>
