---
layout: base.njk
title: Portfolio
pagination:
  data: collections.project
  size: 1000
---

<section class="section container por">
  <h1 class="section-title text-center">My Portfolio</h1>
  <hr class="center-line" />
  <div class="portfolio-grid">
    {% for project in pagination.items %}
      <div class="portfolio-item">
        <img src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
        <h3>{{ project.data.title }}</h3>
        <p>{{ project.data.description }}</p>
        <a href="{{ project.url }}" class="btn btn--primary">Xem chi tiết</a>
      </div>
    {% endfor %}
  </div>
</section>
